<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block style%}<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    {%endblock%}
    <title>Movies App</title>
</head>


<body>
<div class="grid-cont">
    <header>
        <div class="header">

        </div>
    </header>

    <main>
        <div class="main">
            {%for movie in all_movies%}

            <div class="card">
                            <div class="front">
                                <p class="front-rank-p">{{movie.ranking}}</p>
                                <img class="img" src="{{movie.img_url}}" alt="">

                            </div>
                            <div class="back">
                                <div class="info">
                                    <h1 class="title-back">{{movie.title}}</h1>
                                    <h2 class="year-back">{{movie.year}}</h2>
                                    <p class="rating-back">{{movie.rating }} ⭐</p>
                                    <p class="review-back">{{movie.review}}</p>
                                    <p class="descrip-back">{{movie.description}}</p>

                                </div>
                                <div class="buttons">

                                            <a href="{{url_for('update', id=movie.id)}}" class="update">Update</a>
                                            <a href="{{url_for('delete', id=movie.id)}}" class="delete">Delete</a>

                                </div>


                            </div>

                        </div>
             {%endfor%}

        <a class="add_url" href="{{url_for('add')}}">Add Movie</a>

        </div>
    </main>

    <footer>
        <div class="footer">

        </div>
    </footer>

</div>

</body>
</html>