<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

    <title>Select</title>
</head>
<body>
    <ul>
        {%for n in result %}
        <li><a href="{{url_for('find', id=n.id)}}">{{n["title"]}} - {{n["release_date"]}}</a></li>

        {%endfor%}
    </ul>
</body>
</html>